body{
	background-image: url("../images/background.png");
	color: white;
}

.character,
.player{
	background-color: white;
	border: 3px solid green;
	margin: 10px;
	text-align: center;
	color: black;
}

.enemy{
	background-color: white;
	border: 3px solid red;
	margin: 10px;
	text-align: center;
	color: black;
}

hr{
	margin: 1px;
}

.character:hover{
	cursor: pointer;
}